/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color:  #121417;
  color: white;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

.title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.App {
  background-color: #252d37;
  max-width: 500px;
  border-radius: 0.625rem;
  padding: 40px 25px;
  

}

.option {
  background-color: transparent;
  border-radius: 60px;
  border: 3px solid #999;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;



  /*
  line-height: 34px;
  float: left;
  margin-top: -1px;
  padding: 0;
  
  text-align: center;
  */
}

.option:hover {
  background-color: #999;
}

.move-icon,
.players{
  height: 50px;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
}


.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.players {
  margin: 0;
}
.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


